extends ./layouts/jqm-layout

block content
  //-- MAIN page content (params should be taken as strings: title, msg, footer)
  div(data-role='page' class='jqm-demos ui-responsive-panel' id='sorry' data-title='Sorry')
    div(data-role='header')
      h1= title
    div(role='main' class='ui-content jqm-content jqm-fullwidth')
      h1 Sorry
      p #{msg}
      pre We have temporary problems...
      p
        a(href='http://selection4test.ru' role='button' class='ui-shadow ui-btn ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left' target='_self') Back to Home
    div(data-role='footer' data-position='fixed')
      h4
        a(href= footerLink) #{footerTxt}
        span &nbsp;2017
