doctype html
html
  head
    meta(name='theme-color' content='#374c6b')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0')
    //-
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/_tmp/jet-test/style.css')
    script(src='/javascripts/_tmp/jet-test/script.js')
  body
    .container
      .block-0-header
        h1 Jets
      .block-switcher
        .slideThree
          input(type="checkbox" onchange="onCheckBoxChange(this)" id="slideThree" value="None" name="check")
          label(for="slideThree")
      .block-left
          
      .block-2
        p: code Default setting = 3000 ms.
          br
          span Last update: 
            span#reportTime
        //-p: #status Data was not received yet...
        p: #resultTable: em We haven't got data...
